.header {
  background: darkblue;
  height: 150px;
  width:100%;
  box-shadow: 0.1vw 0.1vw 0.5vw black;
  display: flex;
}
.correctA {
  transition:0.5s;
  color:white;
}
.incorrectA {
  color:red;
  transition:0.5s;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#logo {
  width: 33%;
  margin-left: 20px;
  line-height: 100%;
  font-size: 3vw;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
}
.scoreHolder {
  width:100%;
  display:flex;
}
#scoreDiv {
  /* background:white; */
  font-size:50px;
  line-height:75px;
  width:33%;
  text-align: center;
  color:white;
}
#userAlert {
  width:33%;
  height:100%;
  margin:auto;
  margin-left:0;
  font-size:50px;
  line-height:150px;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
  animation:slideInFromLeft 1s;
}
.scoreDisplays {
  margin:auto;
}
.Section {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  background:white;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0.05vw 0.05vw 0.3vw black;
  /* font-size:100px; */
}
.card:hover {
  transition:0.2s;
  transform:scale(1.05)
}
#cardImg {
  position: absolute;
  height: 100%;
  width: 100%;
}
