.header {
  background: darkblue;
  height: 10%;
  width: 100%;
  box-shadow: 0.1vw 0.1vw 0.5vw black;
  display: flex;
}
.correctA {
  transition: 0.5s;
  color: white;
}
.incorrectA {
  color: red;
  transition: 0.5s;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#logo {
  width: 33%;
  height: 100%;
  line-height: 200%;
  font-size: 3vw;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
  text-align: center;
  margin: 0;
}
.scoreHolder {
  width: 100%;
  display: flex;
}
#scoreDiv {
  /* background:white; */
  font-size: 3vw;
  width: 33%;
  text-align: center;
  color: white;
}
#userAlert {
  width: 33%;
  height: 100%;
  margin: auto;
  margin-left: 0;
  font-size: 3vw;
  line-height: 150px;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
  animation: slideInFromLeft 1s;
}
.scoreDisplays {
  margin: auto;
  width: 100%;
}
.Section {
  width: 32.5%;
  min-height: 52.5vh;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  background: white;
  position: relative;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0.05vw 0.05vw 0.3vw black;
  /* font-size:100px; */
}
.card:hover {
  transition: 0.2s;
  transform: scale(1.05);
}
#cardImg {
  position: absolute;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .header #logo {
    font-size: 7vw;
    line-height:100px;
    width:100%;
  }
  .scoreHolder{
    display:block;
  }
  .header{
    display:block;
  }
  .Section{
    width:90%;
    min-height:800px;
    margin:auto;
    margin-top:5%;
  }
  #userAlert{
    font-size:5vw;
    height:25%;
    line-height:100px;
    width:100%;
  }
  #scoreDiv {
    line-height:75px;
    width:100%;
  }
  .scoreDisplays {
    height:30%;
    font-size:4vw;
    line-height:50px;
  }
}
@media only screen and (max-width: 600px) {
.Section{
  width:100%;
  min-height:300px;
  max-height:450px;
  margin:0;
  margin-top:10%;
}
#logo {
}
#userAlert{
  width:100%;
  font-size:7vw;
  line-height:25px;
}
#scoreDiv {
  margin-top:10%;
  width:100%;
}
.scoreDisplays {
  height:40%;
  font-size:5vw;
}
}
