.header {
    background: darkblue;
    height: 150px;
    box-shadow: 0.1vw 0.1vw 0.5vw black;
  }
  
  .header h1 {
    margin: auto;
    margin-left:20px;
    line-height:150px;
    font-size:3vw;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.5vw black;
  }
  